$_sidebar-bg: #696969;

.sidebar {
  display: flex;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  flex-direction: column;
  background-color: $_sidebar-bg;
  width: 220px;
  height: 100vh;
  padding: 1rem;
}
